<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duma.ld.zhilianlift">
    <!--获取设备网络状态，禁用后无法获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--网络权限，当禁用后，无法进行检索等相关业务-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--读取设备硬件信息，统计数据-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--读取系统信息，包含系统版本等信息，用作统计-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!--获取统计数据-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--鉴权所需该权限获取进程列表-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--使用步行AR导航，配置Camera权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--第三方-->
        <!--百度地图和定位-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="2tolx1hGF0PcTbVQNLLU6RfQcPEBGia5" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!--第三方-->
        <activity android:name=".view.main.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.main.city.SelectCityActivity" />
        <activity
            android:name=".view.main.shopping.SearchActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".view.main.shopping.goods.GoodsListActivity" />
        <activity android:name=".view.login.LoginOrRegisterActivity" />
        <activity
            android:name=".view.login.RegisterActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".view.login.LoginActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".view.login.CodeBarActivity" />
        <activity
            android:name=".view.login.ForgetPasswordActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".view.main.wode.SettingActivity" />
        <activity android:name=".view.main.wode.UserDataActivity" />
        <activity android:name=".view.main.wode.addres.AddresListActivity" />
        <activity android:name=".view.main.wode.addres.AddOrChangeActivity" />
        <activity
            android:name=".view.main.wode.realName.RealNameEditActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".view.main.wode.VerifyPhoneActivity" />
        <activity android:name=".view.main.wode.realName.RealNameSendSuccessActivity" />
        <activity android:name=".view.main.wode.realName.RealNameMainActivity" />
        <activity android:name=".view.main.wode.YiJianFanKuiActivity" />
        <activity android:name=".view.main.wode.GuanYuActivity" />
        <activity android:name=".view.main.wode.userSecuryty.UserSecurityActivity" />
        <activity android:name=".view.main.wode.userSecuryty.ChangeLoginPasswordActivity" />
        <activity android:name=".view.main.wode.userSecuryty.ChangePhoneActivity" />
        <activity
            android:name=".view.main.wode.userSecuryty.PaySettingActivity"
            android:launchMode="singleTask" />
        <activity android:name=".view.main.wode.userSecuryty.PayPasswordActivity" />
        <activity android:name=".view.main.wode.userSecuryty.PayPasswordSuccessActivity" />
        <activity android:name=".view.main.shopping.goods.GoodsDetailsActivity" />
        <activity
            android:name=".view.start.PhotoQueryActivity"
            android:theme="@style/AppTheme_tm" />
        <activity android:name=".view.main.shopping.ShoppingCartActivity" />
        <activity android:name=".view.main.wode.MyCollectActivity" />
        <activity android:name=".view.main.wode.MyRecordActivity" />
        <activity android:name=".view.main.shopping.order.ConfirmOrderActivity" />
        <activity android:name=".view.main.wode.CouponsActivity" />
        <activity
            android:name=".view.main.pay.PayInputPasswordActivity"
            android:theme="@style/AppTheme_tm_hei" />
        <activity android:name=".view.main.pay.PaySuccessActivity" />
        <activity android:name=".view.main.pay.PayActivity" />
        <activity
            android:name=".view.main.shopping.order.OrderListActivity"
            android:launchMode="singleTask" />
        <activity android:name=".view.main.house.MyHouseActivity" />
        <activity android:name=".view.main.house.AddHouseActivity" />
        <activity
            android:name=".view.main.shopping.order.OrderInfoActivity"
            android:launchMode="singleTask" />
        <activity android:name=".view.start.WebViewActivity" />
        <activity android:name=".view.main.shopping.AddCommentActivity" />
        <activity android:name=".view.main.shopping.afterSales.AfterSalesListActivity" />
        <activity android:name=".view.main.shopping.afterSales.ApplyAfterSalesListActivity" />
        <activity android:name=".view.main.shopping.afterSales.ApplyRefundActivity" />
        <activity android:name=".view.main.shopping.afterSales.AfterSalesInfoActivity" />
        <activity android:name=".view.main.shopping.afterSales.ApplyAfterSalesActivity" />
        <activity android:name=".view.main.wode.MessageActivity" />
        <activity android:name=".view.main.pay.HousePayListActivity" />
        <activity android:name=".view.main.pay.PointsPayListActivity" />
        <activity android:name=".view.main.pay.YuEListActivity" />
        <activity
            android:name=".view.main.wode.addres.SelectAddresDialogActivity"
            android:theme="@style/AppTheme_tm_hei" />
        <activity android:name=".view.main.house.HouseListActivity" />
        <activity android:name=".view.main.house.ZuFangInfoActivity" />
    </application>

</manifest>